.view-cart-container {
  h2 {
    margin-bottom: 20px;
  }

  .cart-items {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
      position: relative;
    }

    th {
      background-color: #f2f2f2;
    }

    tbody {
      max-height: 400px;
      overflow-y: auto;
    }

    tr.cart-item {
      &:nth-child(even) {
        background-color: #f2f2f2;
      }

      td {
        img {
          width: 100px;
          height: 100px;
          display: block;
          margin: auto;
          object-fit: cover;
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.2);
            z-index: 1;
          }
        }

        .item-details {
          p {
            margin: 0;
          }
        }

        .color-square {
          width: 30px;
          height: 30px;
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        .quantity-input {
          width: 100px;
          margin: 0 auto;
          text-align: center;
        }

        button {
          display: block;
          margin: 0 auto;
          text-align: center;
        }

        .checkout-container {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;

          .large-checkbox {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            cursor: pointer;
            position: relative;

            &:before {
              content: "";
              display: block;
              width: 100%;
              height: 100%;
              border: 2px solid #555;
              border-radius: 5px;
              position: absolute;
              top: 0;
              left: 0;
              transition: border-color 0.3s ease;
            }

            &:after {
              content: "";
              display: block;
              width: 10px;
              height: 18px;
             // border: solid #555;
              border-width: 0 2px 2px 0;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) rotate(45deg);
              opacity: 0;
              transition: opacity 0.3s ease;
            }

            &:checked:before {
              border-color: #2196f3;
            }

            &:checked:after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  

  .delete-confirmation-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .confirmation-box {
      background-color: white;
      padding: 20px;
      border-radius: 5px;

      p {
        margin-bottom: 10px;
      }

      div {
        display: flex;
        justify-content: flex-end;

        button {
          margin-left: 10px;
          padding: 5px 10px;
          border: none;
          cursor: pointer;
          border-radius: 5px;

          &:first-child {
            background-color: red;
            color: white;
          }

          &:last-child {
            background-color: #ccc;
          }
        }
      }
    }
  }
}
