.loader{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.spinner {
    margin-top: 3px;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(255, 255, 255, 0.53);
    border-radius: 50%;
    border-top: 3px solid #fff;
    width: 18px;
    height: 18px;
    animation: spin 1s linear infinite;
  }

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}