.product-details {
    width: 100%;
    min-height: calc(100vh - 100px);
    margin-top: 1rem;
    padding: 0px 0px 10px 0px;
    background-color: white;
    border-radius: 10px;
 
    .product-data-table {
      font-size: 12px;
 
      .info-button-section {
        display: flex;
        justify-content: center;
      }
 
      .view-info-btn {
        font-size: 12px;
      }
    }
 
    .sub-heading {
      font-size: 14px;
      font-weight: 400;
    }
 
    .modal-body {
      p {
        font-size: 12px;
      }
    }
 
    .modal-footer {
      display: flex;
      align-items: center;
      justify-content: center !important;
 
      .button-section {
        display: flex !important;
        justify-content: space-between !important;
 
        .footer-button {
          font-size: 12px;
          margin: 0 1%;
        }
      }
    }
 
    .active-button {
      background-color: #d4d4d4;
    }
 
    .table.product-data-table tbody td {
      vertical-align: middle;
    }
  }